body{
    font-family: 'Poppins', sans-serif;
}
.title-heading{
    font-size: 50px;
    font-weight: 700;
}
.header-area{
    background-color: beige;
    padding-bottom: 80px;
}
.logo img, .info-image img{
    max-width: 80%;
    height: auto;
}
.jacket-card{
    border: 0;
}
.card-image{
    width: 320px;
    height: 320px;
    margin: 0 auto;
}
.jacket-card img{
    width: 100%;
    padding: 20px;
    background-color: rgb(175, 172, 172);
}
.jacket-footer-card{
    border: 0;
    background-color: white;
}
.service-image img{
    width: 70%;
}
.contact-area{
    background-color: rgb(59, 58, 58);
    color: white;
}
.contact-info ul{
    padding: 0;
}
.contact-info li{
    list-style: none;
    font-size: 15px;
    line-height: 40px;
}
.contact-info .icon{
    margin-right: 10px;
    font-size: 18px;
}
.contact-heading{
    font-size: 30px;
    text-transform: uppercase; 
    font-weight: bold;
}
.newslatter-info p{
    font-size: 15px;
    line-height: 30px;
}
.newslatter-info input{
    padding: 10px 40px;
   
}
.newslatter-info button{
    padding: 10px 20px;
    border-radius: 0;
}
footer{
    background-color: rgb(59, 58, 58);
    border-top: 0.5px solid black;
    padding: 5px 0;
}
footer p{
    color: white;
    font-size: 15px;
    text-align: center;
    padding-top: 15px;
}

